{% extends 'dashboard/base.html' %}

{% block content %}

<h1>📊 Analytics Dashboard</h1>

<div class="grid">

    <div class="card">
        <h2>Total Skills</h2>
        <h1>{{ total_skills }}</h1>
        <p>Skills added from Django Admin.</p>
    </div>

    <div class="card">
        <h2>Total Projects</h2>
        <h1>{{ total_projects }}</h1>
        <p>Projects added from Django Admin.</p>
    </div>

    <div class="card">
        <h2>Average Progress</h2>
        <h1>{{ average_progress }}%</h1>

        <div class="progress">
            <div class="bar" style="width:{{ average_progress }}%;">
                {{ average_progress }}%
            </div>
        </div>
    </div>

</div>

<div class="card">
    <h2>📌 Dashboard Summary</h2>
    <p>This analytics page calculates total skills, total projects, and average learning progress dynamically from the database.</p>
</div>

{% endblock %}