{% extends 'dashboard/base.html' %}

{% block content %}

<h1>📞 Contact & Portfolio</h1>

<div class="card">
    <h2>👩 Mahathi Panguluri</h2>
    <p><b>Role:</b> CSE Student | Python Learner | Django Developer</p>
    <p><b>University:</b> Vignan University</p>
    <p><b>Branch:</b> CSE</p>
    <p><b>Email:</b> vu.241fa04651@gmail.com</p>

    <a href="https://github.com/Mahathi651" target="_blank" class="btn">GitHub Profile</a>
</div>

<div class="card">
    <h2>🚀 Career Goal</h2>
    <p>To learn Python, Django, DSA, build real-world projects, and get a software development internship.</p>
</div>

<div class="card">
    <h2>💻 Skills</h2>
    <p>Python | Django | HTML | CSS | UI/UX | GitHub</p>
</div>

{% endblock %}