{% extends 'dashboard/base.html' %}

{% block content %}

<div class="card">
    <h1>Hi Mahathi 👋</h1>
    <p>A premium Django dashboard to track Python, Django, DSA, projects, internships, and learning progress.</p>
    <a href="/skills/" class="btn">Explore Skills</a>
    <a href="/projects/" class="btn">View Projects</a>
</div>

<div class="grid">
    <div class="card">
        <h2>🐍 Python</h2>
        <h1>75%</h1>
        <p>Core Python progress.</p>
    </div>

    <div class="card">
        <h2>💻 Django</h2>
        <h1>45%</h1>
        <p>Dashboard project in progress.</p>
    </div>

    <div class="card">
        <h2>🚀 Projects</h2>
        <h1>3+</h1>
        <p>Projects for GitHub and LinkedIn.</p>
    </div>
</div>

<div class="card">
    <h2>👩 Student Profile</h2>
    <p><b>Name:</b> Mahathi Panguluri</p>
    <p><b>University:</b> Vignan University</p>
    <p><b>Branch:</b> CSE</p>
    <p><b>Goal:</b> Python → Django → DSA → Internship</p>
</div>

{% endblock %}