{% extends 'dashboard/base.html' %}

{% block content %}

<h1>🚀 Internship Tracker</h1>

<div class="grid">
    <div class="card">
        <h2>Infosys Springboard</h2>
        <p>Status: Registered / Exploring</p>
        <a href="#" class="btn">View Status</a>
    </div>

    <div class="card">
        <h2>Tiranex UI/UX Internship</h2>
        <p>Status: Task In Progress</p>
        <a href="#" class="btn">View Task</a>
    </div>

    <div class="card">
        <h2>Future Django Internship</h2>
        <p>Status: Future Goal after Python + Django + DSA.</p>
        <a href="#" class="btn">Plan</a>
    </div>
</div>

{% endblock %}