{% extends 'dashboard/base.html' %}

{% block content %}

<h1>🔥 Skills Dashboard</h1>

{% for skill in skills %}

<div class="card">
    <h3>{{ skill.name }}</h3>

    <div style="
        width:100%;
        background:#222;
        border-radius:20px;
        overflow:hidden;
        height:25px;
    ">
        <div style="
            width:{{ skill.progress }}%;
            background:linear-gradient(90deg,#ff0000,#ff6600);
            height:25px;
            text-align:center;
            color:white;
            font-weight:bold;
        ">
            {{ skill.progress }}%
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}